<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Question</title>
</head>
<body>
  <h1>Question: {{question.question}}</h1>
  <form action="">
    <p>
      <input type="radio" name="choice" value="{{option_0}}" >{{option_0}} <br>
      <input type="radio" name="choice" value="{{option_1}}">{{option_1}} 
    </p>
    <button type ="submit">Submit</button>
  </form>
</body>
</html>